<h1><%= @recipe.name %></h1>
<h4>by <%= @recipe.user.email %></h4>
<h5>Rated as <%= @recipe.rating %>/5 </h5>

<p><%= @recipe.description %></p>

<h4>Recipe Ingredients</h4>
<ul>
<% @recipe.ingredients.each do |ingredient| %>
  <li><%= link_to ingredient.name, ingredient_path(ingredient) %></li>
<% end %>
</ul>