<h1><%= @recipe.name %></h1>
<h4>by <%= @recipe.user.name %></h4>
<h5>Rated as <%= @recipe.rating %>/5 </h5>

<p><%= @recipe.description %></p>

<% if current_user.admin? || current_user.moderator? || @recipe.user_id == current_user.id %>
<p><%= link_to "Edit this Recipe", edit_recipe_path(@recipe) %></p>
<% end %>

<h4>Recipe Ingredients</h4>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Ingredient</th>
        <th>Amount <%= link_to "Edit", recipe_recipe_ingredients_path(@recipe), :id => :edit_amount %></th>
      </tr>
    </thead>
    <tbody>
    <% @recipe.ingredients.each do |ingredient|%>
      <tr>
        <td><%= link_to ingredient.name, ingredient_path(ingredient) %></td>
        <td id="ingredient_amount"><%= ingredient.recipe_amount(@recipe) %></td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>