<h1>Your Recipes</h1>

<h4><%= link_to "Add a recipe", new_recipe_path %></h4>

<ul class="list-group">
  <% @recipes.each do |recipe| %>
  <% if recipe.user_id == current_user.id %>
  <li class="list-group-item">
  <h3><%= link_to recipe.name, recipe_path(recipe) %></h3>
    <h4>by <%= recipe.user.name %></h4>
    <h4><%= comment_count(recipe) %></h4>
    <% end %>
  <% end %>
  </li>
  </ul>

<h1>All Recipes</h1>

<ul class="list-group">
  <% @recipes.each do |recipe| %>
  <li class="list-group-item">
    <h3><%= link_to recipe.name, recipe_path(recipe) %></h3>
    <h4>by <%= recipe.user.name %></h4>
    <h4><%= comment_count(recipe) %>
    <% if current_user.admin? %>
    <%= link_to "Delete", recipe_path(recipe), method: :delete %>
    <% end %>
  </li>
<% end %>
</ul>