<h1><%= @ingredient.name %> Ingredient Page</h1>

<p>Ok, cool you have some <%= @ingredient.name %> in your fridge. Check out all the recipes we have and cook something with it!</p>
<p>Click the link to see more about each recipe.</p>

<h3>Recipes Using This Ingredient</h3>

<ul>
<% @ingredient.recipes.each do |recipe| %>
  <li><%= link_to recipe.name, recipe_path(recipe), id: :recipe %></li>
  <h1 id="recipe-<%= recipe.id %>"></h1>
  <p id="recipe-<%= recipe.id %>"></p>
<% end %>
</ul>

<% content_for :ingredient do %>
  <script>
  $(function() {
    linkOverride();
    Recipe();
  });

  var linkOverride = function() {
    $("a#recipe").click(function(event) {
      event.preventDefault();
      loadRecipes(event["target"]["href"]);
    });
  }

  function loadRecipes(target_url) {
    $.getJSON (target_url + ".json", function(result) {
      handleResponse(result);
      hideContent(result['id'])
      })
    };

  var handleResponse = function(result) {
    var recipe = new Recipe(result);
    var hide = ' <a href="#" id="hideMe">Hide this</a>'

    $("h1#recipe-" + recipe.id).html(recipe.name + recipe.readMore);
    $("p#recipe-" + recipe.id).html(recipe.description + recipe.listItems() + hide);
  };

  function Recipe(resultsHash) {
    this.id = resultsHash['id'];
    this.name = resultsHash['name'];
    this.description = resultsHash['description'];
    this.readMore = ' <a href="/recipes/' + recipe.id + '" id="readMore">Read More</a>'
    this.ingredients = resultsHash['ingredients'];
  };

  Recipe.prototype.listItems = function() {
    var ingredientList = '<h5>Other Ingredients in this Recipe</h5><ul>';
    for(var i = 0; i < this.ingredients.length; i++) {
      ingredientList += '<li>' + this.ingredients[i].name + '</li>';
    }
    ingredientList += '</ul>';
    return ingredientList;
  };

  var hideContent = function(id) {
    $('#hideMe').on('click', function(event) {
      event.preventDefault();
      $("h1#recipe-" + id).text("");
      $("p#recipe-" + id).text("");
    });
  }

  </script>
<% end %>