<div class="navbar">
  <div class="container-fluid">
    <%= link_to "Fridge Saver!", root_path, class: "navbar-brand" %>
    <ul class="nav navbar-nav">
    <% if user_signed_in? %>
      <li>
      <%= link_to "Ingredients", ingredients_path %>
      </li>
      <li>
      <%= link_to "Your Recipes", recipes_path %>
      </li>
    <% else %>
      <li>
        <%= link_to "Sign Up", new_user_registration_path %>
      </li>
      <li>
        <%= link_to "Sign In", new_user_session_path %>
      </li>
    <% end %>
      <li>
        <a href="/about">About</a>
      </li>
    </ul>
  </div>
</div>